.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 10vw;
    margin: 0 1vw;
}

.indicator__label {
    font-size: 1vw;
    color: #ffffff;
    text-align: center;
}

.indicator__status {
    min-width: 6vw;
    margin-top: 1vh;
    margin-bottom: 1vh;

    font-size: 2vw;
    color: #ffffff;
    text-align: center;
}

.indicator__status--green {
    border-bottom: 0.25vw solid #23aa49;
}

.indicator__status--red {
    border-bottom: 0.25vw solid #ff0000;
}

.indicator__item {
    margin-bottom: 1vh;
}
